<div class="resume-section" id="Education">
<div class="resume-section-content">
    <h1 class="mb-5 text-success">Educational Background</h1>
    <div class="panel panel-default mb-5">
        <div class="panel-body">
            <h3 class="mb-0">Colegio de San Juan de Letran</h3>
            <div class="subheading mb-3">Bachelor of Science in Information and Technology</div>
            <p>August 2021 - Latest</p>
        </div>
    </div>
    <div class="panel panel-default mb-5">
    <div class="panel-body">
        <h3 class="mb-0">Imus Unida Christian School</h3>
        <div class="subheading mb-3">Stem Strand</div>
        <p>June 2019- June 2021</p>
    </div>
    </div>
    <div class="panel panel-default mb-5">
        <div class="panel-body">
            <h3 class="mb-0">Southdale International School</h3>
            <div class="subheading mb-3">Elementary - Junior Highschool</div>
            <p>June 2009- June 2019</p>
        </div>
    </div>
</div>
</div>

<!--additional bootstrap css-->
<style>
    div.resume-section {
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        max-width: 75rem;
        margin-right: auto;
        margin-left: auto;
    }
        
    section.resume-section .resume-section-content {
        width: 100%;
    }
    
    .mb-0 {
        margin-bottom: 0 !important;
    }
    
    .fs-3 {
        font-size: 1.2em;
    }
    .mb-5 {
        margin-bottom: 3rem !important;
    }
    
    h1{
        text-transform: uppercase;
    }
    
    .subheading {
        font-family: 'Saira Extra Condensed', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
    }
    
    div{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    p.lead {
        font-size: 1.15rem;
        font-weight: 400;
        max-width: 70rem !important;
    }    
    </style>