<div class="resume-section" id="Contact">
    <h3>Contact Info</h3>
    <div class="resume-section-content">
        <h1 class="mb-0">
            Paul Nazarene <span class="text-primary">Dimaunahan</span>
        </h1>
        <div class="subheading mb-5">Bucandala 3 - Imus, Cavite · 09053935415 · <a href="mailto:paulnazarene.dimaunahan@letran.edu.ph">paulnazarene.dimaunahan&#64;letran.edu.ph</a></div>
        <p class="lead">I'm a BSIT 3rd Year Student, currently studying at Colegio de San Juan de Letran Manila, 
            and also the part of the social media team at my school publication The LANCE. I'am currently interested in studying scripting and cybersecurity.
        </p>
        <div class="social-icons">
        <a class="social-icon" href="https://www.facebook.com/profile.php?id=100007487805487&mibextid=ZbWKwL">
            <svg class="svg-inline--fa fa-facebook-f" aria-hidden="true" focusable="false" data-prefix="fab" 
            data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
            </path>
            </svg>
        </a>
        <span style="margin-left: 8px;">Visit me on Facebook</span>
        </div>
    </div>  
</div>
<!--additional bootstrap css-->
<style>
div.resume-section {
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
}

a{
    color:rgb(197, 32, 32);
}

.svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

section.resume-section .resume-section-content {
    width: 100%;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

h1{
    text-transform: uppercase;
}

.subheading {
    font-family: 'Saira Extra Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
}

div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
    max-width: 70rem !important;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.social-icons .social-icon:hover {
    background-color: #007bff;
}

</style>

