<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;700&display=swap">
<div id="wrapper">
    
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav text-center">
        <li class="row align-items-center">
            <p style="color:#cfc6c1;">Act 1 - Components</p>
            <a href="#" class="col">
                <img src="../assets/Images/Pic.png" alt="No Image" style="width: 125px; height: 125px; border-radius: 50%; border: 6px solid #ca7d60;">
            </a>
            <a href="#Contact" class="col" style="margin-top: 20px;">
                Contact Info
            </a>
            <a href="#Personal" class="col">
                Personal Info
            </a>
            <a href="#Education" class="col">
                Educational Background
            </a>
            <a href="#Work" class="col">
                Work Experience
            </a>
        </li>
    </ul>
</div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                <app-contact-info></app-contact-info>  
                <hr>
                <app-personal-info></app-personal-info>
                <hr>
                <app-educational-background></app-educational-background>
                <hr>
                <app-work-experience></app-work-experience>
              </div>
          </div>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>

<!--additional Styles for the navbar-->
<style>

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #bd5d38;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 60px;
    width: 230px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 40px;
    line-height: 40px;
}

.sidebar-nav li a, p{
    display: block;
    font-family:monospace;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    color:#cfc6c1;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;

}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}
</style>
<router-outlet />
