<div class="resume-section" id="Work">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Paul Nazarene <span class="text-primary">Dimaunahan</span>
        </h1>
        <div class="subheading mb-5">La Terazza Bucandala 3 · Imus, Cavite · Student · Social Media Manager </div>
        <p class="lead"></p>
    </div>
</div>

<!--additional bootstrap css-->
<style>
div.resume-section {
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
}

section.resume-section .resume-section-content {
    width: 100%;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.subheading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
}

div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}
</style>

