<div class="resume-section" id="Work">
    <div class="container">
        <div class="row">
            <div class="resume-section-content">
                <h1 class="mb-5 text-warning">Work Experience</h1>
                <p>A brief info about my work experience on student organizations</p>
                <div class="panel panel-default mb-5">
                    <div class="panel-body">
                        <h3 class="mb-0">Social Media Manager</h3>
                        <div class="subheading mb-3">Student Publication at CSJL (The LANCE)</div>
                        <p>2023 - Latest</p>
                    </div>
                </div>
                <div class="panel panel-default mb-5">
                <div class="panel-body">
                    <h3 class="mb-0">Letran Information Technology Society STAFF</h3>
                    <div class="subheading mb-3">Student Organization at CSJL</div>
                    <p>J2023-Latest</p>
                </div>
                </div>
                <div class="panel panel-default mb-5">
                    <div class="panel-body">
                        <h3 class="mb-0">Officer</h3>
                        <div class="subheading mb-3">Student Government at southdale</div>
                        <p> 2015- 2017</p>
                    </div>
                </div>
                <div class="panel panel-default mb-5">
                    <div class="panel-body">
                        <h3 class="mb-0">Designer/Code Trainee</h3>
                        <div class="subheading mb-3">Workshop</div>
                        <p>3 months</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="resume-section">
    <div class="container">
        <div class="row">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Experiences
                </h1>
                <div class="subheading mb-5">Aquired Skills</div>
                <div class="table-responsive">
                    <table class="table fs-3">
                        <tr>
                            <td><strong>Programming Language:</strong></td>
                            <td>Java, C, C++, Python, Kotlin, Javascript, SQL</td>
                        </tr>
                        <tr>
                            <td><strong>Virtualization</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Workflow:</strong></td>
                            <td>Agile and Rad</td>
                        </tr>
                        <tr>
                            <td><strong>Soft Skill:</strong></td>
                            <td>Communication, Problem-Solving, Organization, Resourcefulness</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--additional bootstrap css-->
<style>
    div.resume-section {
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        max-width: 75rem;
        margin-right: auto;
        margin-left: auto;
    }
        
    section.resume-section .resume-section-content {
        width: 100%;
    }
    
    .mb-0 {
        margin-bottom: 0 !important;
    }
    
    .fs-3 {
        font-size: 1.2em;
    }
    .mb-5 {
        margin-bottom: 3rem !important;
    }
    
    h1{
        text-transform: uppercase;
    }
    
    .subheading {
        font-family: 'Saira Extra Condensed', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.5rem;
    }
    
    div{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    p.lead {
        font-size: 1.15rem;
        font-weight: 400;
        max-width: 70rem !important;
    }    
    </style>
