<div class="resume-section" id="Personal">
    <div class="container">
        <div class="row">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Personal <span class="text-primary">Info</span>
                </h1>
                <div class="subheading mb-5">About Me</div>
                <div class="table-responsive">
                    <table class="table fs-3">
                        <tr>
                            <td><strong>Name:</strong></td>
                            <td>Paul Nazarene Perez Dimaunahan</td>
                            <td><strong>Marital Status:</strong></td>
                            <td>Single</td>
                        </tr>
                        <tr>
                            <td><strong>Gender:</strong></td>
                            <td>Male</td>
                            <td><strong>Religion:</strong></td>
                            <td>Roman Catholic</td>
                        </tr>
                        <tr>
                            <td><strong>Nationality:</strong></td>
                            <td>Filipino</td>
                            <td><strong>Language:</strong></td>
                            <td>Filipino and English</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--additional bootstrap css-->
<style>
    div.resume-section {
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        max-width: 75rem;
        margin-right: auto;
        margin-left: auto;
    }
        
    section.resume-section .resume-section-content {
        width: 100%;
    }
    
    .mb-0 {
        margin-bottom: 0 !important;
    }
    
    .fs-3 {
        font-size: 1.2em;
    }
    .mb-5 {
        margin-bottom: 3rem !important;
    }
    
    h1{
        text-transform: uppercase;
    }
    
    .subheading {
        font-family: 'Saira Extra Condensed', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.5rem;
    }
    
    div{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    p.lead {
        font-size: 1.15rem;
        font-weight: 400;
        max-width: 70rem !important;
    }    
    </style>